/* .vitepress/theme/custom.css */
:root {
  --vp-c-brand-1: ;
  --vp-c-brand-2: ;
  --vp-c-brand-3: ;
  --vp-nav-logo-height: 100%;
  --vp-local-search-highlight-text: ;
  --vp-local-search-highlight-bg: gray;

}

.VPNavBarTitle span {
  font-weight: 900;
  background-image: linear-gradient(to right, #EFBF04, #2891e7, #49e82b, #ff3333, #d9670f, #c286bf);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

/* .VPDoc:not(.has-sidebar) .container {
  max-width: 1584px !important;
}

.VPDoc:not(.has-sidebar) .content {
  max-width: 1264px !important;
}

.VPDoc.has-aside .content-container {
  max-width: 1168px !important;
} */

.vp-doc a {
  color: inherit;
}

footer.VPFooter {
  display: block !important;
}



.youtube {
  aspect-ratio: 16 / 9;
  width: 100%;
}

.dev {
  color: #9bdbfd;
}

.beta {
  font-weight: 900;
  background-image: linear-gradient(to right, #EFBF04, #2891e7, #49e82b, #ff3333, #d9670f, #c286bf);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;

}

thick {
  font-weight: 900;
}

.labor {
  color: #EFBF04;

}

.soma {
  color: #2891e7;
}

.ekos {
  color: #49e82b;
}

.via {
  color: #ff3333;
}

.motor {
  color: #da680f;

}

.anima {
  color: #c286bf;
}

bg {
  color: #1f1f1f;
}

py {
  color: #6ec08b;
}

error {
  text-decoration: underline red;
}

.rainbow {
  background-image: linear-gradient(to right, #FFCC00, #569cd6, #6a9955, #ff3131, #da680f, #c586c0);
  text-decoration: none;
}

a:link {
  text-decoration: none !important;
}