/* .vitepress/theme/custom.css */
:root {
  --vp-c-brand-1: ;
  --vp-c-brand-2: ;
  --vp-c-brand-3: ;
  --vp-nav-logo-height: 100%;
  --vp-local-search-highlight-text: ;
  --vp-local-search-highlight-bg: gray;

}

.VPNavBarTitle span {
  font-weight: 900;
  background-image: linear-gradient(to right, #ffcc00,#579dd6,#6b9b55,#ff3333,#d9670f,#c587c0);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

/* .VPDoc:not(.has-sidebar) .container {
  max-width: 1584px !important;
}

.VPDoc:not(.has-sidebar) .content {
  max-width: 1264px !important;
}

.VPDoc.has-aside .content-container {
  max-width: 1168px !important;
} */

.vp-doc a {
  color: inherit;
}

footer.VPFooter {
    display: block !important;
}



.youtube {
  aspect-ratio: 16 / 9;
  width: 100%;
}

.dev {
  color: #9bdbfd;
}

.beta {
  font-weight: 900;
  background-image: linear-gradient(to right, #FFCC00,#569cd6,#6a9955,#ff3131,#da680f,#c586c0);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;

}

thick {
  font-weight: 900;
}

.labor {
  font-weight: 900;
  color:  #FFCC00;
  
}

.soma {
  font-weight: 900;
  color: #569cd6;
}

.ekos {
  font-weight: 900;
  color: #6a9955;
}

.via {
  font-weight: 900;
  color: #ff3131;
}

.motor {
  font-weight: 900;
  color: #da680f;

}

.anima {
  font-weight: 900;
  color: #c586c0;
}

bg {
  color: #1f1f1f;
}

py {
  font-weight: 900;
  color: #6ec08b;
}

error {
  text-decoration: underline red;
}


.VPNavBarTitle #text {
  color: blue;
}

.labor {
  font-weight: 900;
  color:  #FFCC00;
  
}

.soma {
  font-weight: 900;
  color: #569cd6;
}

.ekos {
  font-weight: 900;
  color: #6a9955;
}

.via {
  font-weight: 900;
  color: #ff3131;
}

.motor {
  font-weight: 900;
  color: #da680f;

}

.anima {
  font-weight: 900;
  color: #c586c0;
}

.rainbow {
    background-image: linear-gradient(to right, #FFCC00, #569cd6, #6a9955, #ff3131, #da680f, #c586c0);
    text-decoration: none;
}

a:link{
  text-decoration: none!important;
}