/* .vitepress/theme/custom.css */
:root {
  --vp-c-brand-1: #6a9955;
  --vp-c-brand-2: #569cd6;
  --vp-c-brand-3: #6a9955;

}

.vp-doc a {
  color: inherit;
}

.title {

  color: #6a9955;
}


moto {
  color: #bf6a34;

}

via {
  color: #f44747
}


neuro {
  color: #c586c0
}

beta {
  color: #569cd6
}

eko {
  color: #6a9955
}

bg {
  color: #1f1f1f
}

dev {
  color: #9cdcfe
}

ye {
  color: #ffd700
}

error {
  text-decoration: underline red;
}

.VPHomeHero .name span.clip {
  font-size: 163%;

}

.VPNavBarTitle #text {
  color: blue;
}